$breakpoints: (
  'mobile': (
    min-width: 319px,
  ),
  'tablet': (
    min-width: 768px,
  ),
  'desktop': (
    min-width: 1200px,
  ),
  'desktop-fhd': (
    min-width: 1919px,
  ),
  'retina-apple-pasibo-bolshoe': (),
) !default;
