// ============ colors ================
$main-brand-color: #ffb8ca;
$secondary-brand-color: #fff5f6;
$brand-btn-color: #d41342;
$light-btn-hover: #ecebeb;
$dark-btn-hover: #c7133e;
$coffee-card-color: #f0d1a5;
$green-color: #c2e297;

// ========== fonts colors =============
$main-font-color: #d41443;
$secondary-font-color: #ffa5ba;
$dark-font-color: #907e82;

// ============== fonts =================
$content-font: 'DM Sans', sans-serif;
$decorative-font: 'Titan One';

// =========== time function =============
$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
