<section class="about about-advantages" id="about">
    <div class="container about__container">
        <div class="about__title-section">
            <p class="about__label  ">tradition and love</p>
            <h2 class="about__title  ">how it’s made?</h2>
        </div>
        <div class="about__content">
            <picture>
                <source
                    srcset="images/about/desctop/cow-desctop-webp.webp 1x, images/about/desctop/cow-desctop-webp@2x.webp 2x"
                    media="(min-width: 1200px)" type="image/webp">
                <source srcset="images/about/desctop/cow-desctop.png 1x, images/about/desctop/cow-desctop@2x.png 2x"
                    media="(min-width: 1200px)">
                <source
                    srcset="images/about/tablet/cow-tablet-webp.webp 1x, images/about/tablet/cow-tablet-webp@2x.webp 2x"
                    media="(min-width: 768px)" type="image/webp">
                <source srcset="images/about/tablet/cow-tablet.png 1x, images/about/tablet/cow-tablet@2x.png 2x"
                    media="(min-width: 768px)">
                <source
                    srcset="images/about/mobile/cow-mobile-webp.webp 1x, images/about/mobile/cow-mobile-webp@2x.webp 2x"
                    media="(min-width: 320px)" type="image/webp">
                <source srcset="images/about/mobile/cow-mobile.png 1x, images/about/mobile/cow-mobile@2x.png 2x"
                    media="(min-width: 320px)">
                <img src="images/about/mobile/cow-mobile.png" alt="cow and milk">
            </picture>
            <div class="about__description">
                <p class="about__text-up">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                    faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text-down">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                    Mauris rhoncus orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                    <br>
                    <br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button type="button" class="about__button  " about__open>
                    <span class="about__span">Read more</span>
                    <svg class="about__vector" width=8px height=11px aria-label="vector">
                        <use href='images/about/svg/vector.svg#vector'></use>
                    </svg>
                </button>

                <div class="about__backdrop about__is-hidden" about__modal>
                    <div class="about__modal">
                        <button class="about__cloused" about__modal-close aria-label="Закрыть">
                            <svg width=11px height=11px>
                                <use href="images/about/svg/vector.svg#cloused"></use>
                            </svg>
                        </button>

                        <p class="about__text-backdrop">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                            aliquam necessitatibus beatae
                            dolore doloribus, deleniti harum voluptatibus maxime maiores adipisci quisquam dicta eos
                            officia. Magni aliquam est aut dicta expedita!
                            Debitis minima sed doloribus, nobis facilis nisi repudiandae temporibus nemo iure autem
                            blanditiis placeat explicabo voluptatibus delectus itaque ex veniam voluptate a quae non
                            atque. Dicta minus illum provident nesciunt!
                            Magni consequuntur quibusdam asperiores! Quibusdam vero minus delectus repellendus.
                            Accusantium modi sit voluptatibus fuga, eveniet, ea vel maiores dolorum natus ipsa sunt eius
                            quibusdam inventore, velit quo iure id. Iure?</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>