<section class="advantages about-advantages" id="advantages">
    <div class="container advantages__box">
        <h2 class="visually-hidden">advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item ">
                <picture>
                    <source srcset="images/advantages/milk-webp.webp 1x, images/advantages/milk-webp@2x.webp 2x"
                        type="image/webp">
                    <source srcset="images/advantages/milk.png 1x, images/advantages/milk@2x.png 2x">
                    <img src="images/advantages/milk.png" alt="milk">
                </picture>
                <p class="advantages__sum">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item ">
                <picture>
                    <source srcset="images/advantages/apples-webp.webp 1x, images/advantages/apples-webp@2x.webp 2x"
                        type="image/webp">
                    <source srcset="images/advantages/apples.png 1x, images/advantages/apples@2x.png 2x">
                    <img src="images/advantages/milk.png" alt="milk">
                </picture>
                <p class="advantages__sum">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item ">
                <picture>
                    <source srcset="images/advantages/heart-webp.webp 1x, images/advantages/heart-webp@2x.webp 2x"
                        type="image/webp">
                    <source srcset="images/advantages/heart.png 1x, images/advantages/heart@2x.png 2x">
                    <img src="images/advantages/milk.png" alt="milk">
                </picture>
                <p class="advantages__sum">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>