<section id="contacts" class="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="container contacts__wrapper">
        <ul class="contacts__list">
            <li class="contacts__item    js-scroll slide-left">
                <p class="contacts__element">Cafe</p>
                <h3 class="contacts__title">Chicago</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts__worktime-list">
                    <li class="contacts__worktime-item">
                        <p class="contacts__workday">Monday - Friday</p>
                        <p class="contacts__worktime"><time>06:00</time> AM - <time>10:00</time> PM</p>
                    </li>
                    <li class="contacts__worktime-item ">
                        <p class="contacts__workday">Saturday - Sunday</p>
                        <p class="contacts__worktime"><time>08:00</time> AM - <time>16:00</time> PM</p>
                    </li>
                </ul>
                <ul class="connect-box__list">
                    <li class="connect-box__item">
                        <a class="connect-box__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                    <li class="connect-box__item">
                        <a class="connect-box__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>

                </ul>

            </li>
            <li class="contacts__item  js-scroll fade-in-bottom">
                <p class="contacts__element contacts__element--bg">Food truck</p>
                <h3 class="contacts__title">Los Angeles</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts__worktime-list">
                    <li class="contacts__worktime-item">
                        <p class="contacts__workday">Monday - Friday</p>
                        <p class="contacts__worktime"><time>06:00</time> AM - <time>10:00</time> PM</p>
                    </li>
                    <li class="contacts__worktime-item">
                        <p class="contacts__workday">Saturday - Sunday</p>
                        <p class="contacts__worktime"><time>08:00</time> AM - <time>16:00</time> PM</p>
                    </li>
                </ul>
                <ul class="connect-box__list">
                    <li class="connect-box__item">
                        <a  class="connect-box__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                    <li class="connect-box__item">
                        <a  class="connect-box__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>

                </ul>
            </li>
            <li class="contacts__item    js-scroll slide-right">
                <p class="contacts__element">Cafe</p>
                <h3 class="contacts__title">New York</h3>
                <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="contacts__worktime-list">
                    <li class="contacts__worktime-item">
                        <p class="contacts__workday">Monday - Friday</p>
                        <p class="contacts__worktime"><time>06:00</time> AM - <time>10:00</time> PM</p>
                    </li>
                    <li class="contacts__worktime-item">
                        <p class="contacts__workday">Saturday - Sunday</p>
                        <p class="contacts__worktime"><time>08:00</time> AM - <time>16:00</time> PM</p>
                    </li>
                </ul>
                <ul class="connect-box__list">
                    <li class="connect-box__item">
                        <a class="connect-box__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                    <li class="connect-box__item">
                        <a class="connect-box__link" href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>

                </ul>
            </li>

        </ul>
        <ul class="contacts__btn-list">
            <li class="contacts__btn-item"><button class="button contacts__btn  " type="button">Our Locations
                <svg class="icon-pointer" width="6" height="10">
                    <use href="./images/sprite.svg#icon-pointer-right"></use>
                </svg>
            </button></li>
            <li class="contacts__btn-item"><button class="button contacts__btn contacts__btn--light  " type="button">Franchise
                <svg class="icon-pointer" width="6" height="10">
                    <use href="./images/sprite.svg#icon-pointer-right-red"></use>
                </svg>
            </button></li>
        </ul>
    </div>
</section>