<section>
    <div class="conteiner-ice">
        <ul class="contacts-list">
            <li class="contacts__item">
                <p>Cafe</p>
                <h3>Chicago</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <span><time>06:00</time> AM - <time>10:00</time> PM</span>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <span><time>08:00</time> AM - <time>16:00</time> PM</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="mailto: noreply@envato.com">noreply@envato.com</a>
                    </li>
                    <li>
                        <a href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>

                </ul>

            </li>
            <li class="contacts__item">
                <p>Food truck</p>
                <h3>Los Angeles</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <span><time>06:00</time> AM - <time>10:00</time> PM</span>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <span><time>08:00</time> AM - <time>16:00</time> PM</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="mailto: noreply@envato.com">noreply@envato.com</a>
                    </li>
                    <li>
                        <a href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>

                </ul>
            </li>
            <li class="contacts__item">
                <p>Cafe</p>
                <h3>New York</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul>
                    <li>
                        <p>Monday - Friday</p>
                        <span><time>06:00</time> AM - <time>10:00</time> PM</span>
                    </li>
                    <li>
                        <p>Saturday - Sunday</p>
                        <span><time>08:00</time> AM - <time>16:00</time> PM</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="mailto: noreply@envato.com">noreply@envato.com</a>
                    </li>
                    <li>
                        <a href="tel:+610383766284">+61(0) 383 766 284</a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
</section>