<section class="customer-reviews" id="customer-reviews">
    <div class="slider">
        <div class="slider__item">
            <div class="container customer-reviews__container">
        
                <h2 class="visually-hidden">headline</h2>
        
                <picture class="customer-img">
                    <source srcset="images/customer-reviews/customer1_@1x.webp 1x, images/customer-reviews/customer1_@2x.webp 2x" type="image/webp">
                    <source srcset="images/customer-reviews/customer1_85@1x.png 1x, images/customer-reviews/customer1_170@2x.png 2x" type="image/png">
                    <img class="reviews__client_icon" src="images/customer-reviews/customer1_85@1x.png" alt="Emily">
                </picture>
                <div class="review-wrapper">
                    <div class="text-wrap">
                        <p class="review-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <p class="about-customer">Emily, Los Angeles</p>
            </div> 
        </div>
        <div class="slider__item">
            <div class="container customer-reviews__container">
        
                <h2 class="visually-hidden">headline</h2>
        
                <picture class="customer-img">
                    <source srcset="images/customer-reviews/customer2_@1x.webp 1x, images/customer-reviews/customer2_@2x.webp 2x" type="image/webp">
                    <source srcset="images/customer-reviews/customer2_85@1x.png 1x, images/customer-reviews/customer2_170@2x.png 2x" type="image/png">
                    <img class="reviews__client_icon" src="images/customer-reviews/customer2_85@1x.png" alt="Emily">
                </picture>
                <div class="review-wrapper">
                    <div class="text-wrap">
                        <p class="review-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <p class="about-customer">Tamara, Zdolbuniv</p>
            </div> 
        </div>
        <div class="slider__item">
            <div class="container customer-reviews__container">
        
                <h2 class="visually-hidden">headline</h2>
        
                <picture class="customer-img">
                    <source srcset="images/customer-reviews/customer3_@1x.webp 1x, images/customer-reviews/customer3_@2x.webp 2x" type="image/webp">
                    <source srcset="images/customer-reviews/customer3_85@1x.png 1x, images/customer-reviews/customer3_170@2x.png 2x" type="image/png">
                    <img class="reviews__client_icon" src="images/customer-reviews/customer1_85@1x.png" alt="Emily">
                </picture>
                <div class="review-wrapper">
                    <div class="text-wrap">
                        <p class="review-text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <p class="about-customer">Jeen, San Andreas</p>
                
            </div> 
        </div>
    </div>
</section> 