<section class="gallery  js-scroll slide-right " id="gallery ">
    <div class="container gallery__box">
        <div class="elements-gride card3 ">
        <div ><img  class="elements-gride__icecream card   " 
            src="./images/gallery/grid/gallery_1.png" alt="icecream foto"/>
        </div>
        <div > <img  class="elements-gride__icecream card   " 
            src="./images/gallery/grid/gallery_2.png" alt="icecream foto"/>
            <img  class="elements-gride__icecream card   " 
            src="./images/gallery/grid/gallery_3.png" alt="icecream foto"/></div>
            <div><div><img class="elements-gride__icecreams   card "  
            src="./images/gallery/grid/gallery_4.png" alt="icecream foto"/></div>
            <img  class="elements-gride__icecream card  " 
            src="./images/gallery/grid/gallery_5.png" alt="icecream foto"/></div>
            <div><img  class="elements-gride__icecream elements-gride__margin card  " 
            src="./images/gallery/grid/gallery_6.png" alt="icecream foto"/>
            <img  class="elements-gride__icecream card  " 
            src="./images/gallery/grid/gallery_7.png" alt="icecream foto"/></div>
            <div><img  class="elements-gride__icecream card  " 
            src="./images/gallery/grid/gallery_8.png" alt="icecream foto"/>
            <img  class="elements-gride__icecream card  " 
            src="./images/gallery/grid/gallery_9.png" alt="icecream foto"/></div>
            <div> <img  class="elements-gride__icecream card  " 
            src="./images/gallery/grid/gallery_10.png" alt="icecream foto"/></div>    
        </div>
        

        


    </div>
</section>