<section class="gallery " id="gallery">
    <div class="container gallery__box">
<!--Резиновая сетка-->
        <div class="elements-gride card3 ">
        <div ><img  class="elements-gride__icecream card" src="./images/gallery/grid/gallery_1_mb_335@.png" /></div>
        <div > <img  class="elements-gride__icecream card" src="./images/gallery/grid/gallery_2_mb_335@.png" />
            <img  class="elements-gride__icecream card" src="./images/gallery/grid/gallery_3_mb_335@.png" /></div>
            <div><div><img class="elements-gride__icecreams card2"  src="./images/gallery/grid/gallery_4_mb_335@.png" /></div>
            <img  class="elements-gride__icecream card" src="./images/gallery/grid/gallery_5_mb_335@.png" /></div>
            <div><img  class="elements-gride__icecream elements-gride__margin card" src="./images/gallery/grid/gallery_6_mb_335@.png" />
            <img  class="elements-gride__icecream card" src="./images/gallery/grid/gallery_7_mb_335@.png" /></div>
            <div><img  class="elements-gride__icecream card" src="./images/gallery/grid/gallery_8_mb_335@.png" />
            <img  class="elements-gride__icecream card" src="./images/gallery/grid/gallery_9_mb_335@.png" /></div>
            <div> <img  class="elements-gride__icecream card" src="./images/gallery/grid/gallery_10_mb_335@.png" /></div>    

        </div>
        

        


    </div>
</section>