<header class="header">
<div class="container head-nav">
    <nav class="navigation">
    <a href="">
        <picture>
            <source media='(min-width: 1200px)' srcset="img-hero/logo-desktop.png 1x, img-hero/logo-desktop@2x.png 2x">
            <source media='(min-width: 768px)' srcset="img-hero/logo-tab.png 1x, img-hero/logo-tab@2x.png 2x">
            <img src="img-hero/logo-desktop.png" alt="Логотип">
        </picture>

    </a>

    <div class="menu">
        <ul class="navigation-list list">
            <li class="navigation-list__item">
                <a class="active-navigation-link scroll-to navigation-link link" href="./index.html">Home</a>
            </li>
            <li class="navigation-list__item">
                <a class="navigation-link link scroll-to" href="#advantages">About us</a>
            </li>
            <li class="navigation-list__item">
                <a class="navigation-link link scroll-to" href="#about">How it’s made?</a>
            </li>
            <li class="navigation-list__item">
                <a class="navigation-link link scroll-to" href="#products">Our products</a>
            </li>
            <li class="navigation-list__item">
                <a class="navigation-link link scroll-to" href="#contacts">Contact</a>
            </li>
        </ul>
    </div>
<div class="buttons ">
    <button type="button" class=" burger-btn js-open-menu"  data-menu-button>
    <svg class="mobile__icon" width="20" height="12" aria-label="Переключатель мобильного меню">
            <use class="mobile__burger" href="img-hero/symbol-defs.svg#icon-Burger"></use>
        </svg>
        <!-- <svg class="mobile__icon" width="20" height="12" aria-label="Переключатель мобильного меню">
            <use class="mobile__close" href="img-hero/symbol-defs.svg#icon-close"></use>
        </svg> -->
    </button>


   

<button type="button" data-modal-open class="header-btn btn">Buy now
    <svg height="8" width="4">
                <use href="img-hero/symbol-defs.svg#icon-Vector-1"></use>
            </svg>
</button>
</div>

<div class="menu-container js-menu-container" id="menu-container" >
    <button type="button" class="menu-button js-close-menu" aria-expanded="false" aria-controls="menu-container" data-menu-button>
    
        <!-- <svg class="mobile__icon" width="20" height="12" aria-label="Переключатель мобильного меню">
            <use class="mobile__burger" href="img-hero/symbol-defs.svg#icon-Burger"></use>
        </svg> -->
        <svg class="mobile__icon" width="20" height="12" aria-label="Переключатель мобильного меню">
            <use class="mobile__close" href="img-hero/symbol-defs.svg#icon-close"></use>
        </svg>
        </button>

        <button type="button" data-modal-open-1 class="button__buy btn js-close-menu">Buy now
            <svg height="8" width="4">
                <use href="img-hero/symbol-defs.svg#icon-Vector-1"></use>
            </svg>
        </button>
    <ul class="site-nav ">
      
        <li class="site-nav__item">
            <a class="site-nav__link site-nav__link--active js-close-menu" href="./index.html">Home</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link js-close-menu" href="#advantages">About us</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link js-close-menu" href="#about">How it’s made?</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link js-close-menu" href="#products">Our products</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link js-close-menu" href="#contacts">Contact</a>
        </li>
    </ul>
    
</div>

        </nav>







</div>
</header>

<section class="hero">
 <div class="container">

    <picture >
        <source media='(min-width: 1200px)' srcset="img-hero/ellipse-desktop.png 1x, img-hero/ellipse-desktop@2x.png 2x">
        <source media='(min-width: 768px)' srcset="img-hero/ellipse-tab.png 1x, img-hero/ellipse-tab@2x.png 2x">
        <source media='(min-width: 320px)' srcset="img-hero/ellipse-mob.png 1x, img-hero/ellipse-mob@2x.png 2x">
        <img class="ellipse" src="img-hero/ellipse-desktop.png" alt="Круг">
    </picture>
    <picture>
        <source media='(min-width: 1200px)' srcset="img-hero/ice-desktop.png 1x, img-hero/ice-desktop@2x.png 2x">
        <source media='(min-width: 768px)' srcset="img-hero/ice-tab.png 1x, img-hero/ice-tab@2x.png 2x">
        <source media='(min-width: 320px)' srcset="img-hero/ice-mob.png 1x, img-hero/ice-mob@2x.png 2x">
        <img  class="ice-cream" src="img-hero/ice-desktop.png" alt="Мороженое">
    </picture>
    <picture >
        <source media='(min-width: 1200px)' srcset="img-hero/girl-desktop.png 1x, img-hero/girl-desktop@2x.png 2x">
        <source media='(min-width: 768px)' srcset="img-hero/girl-tab.png 1x, img-hero/girl-tab@2x.png 2x">
        <img class="girl" src="img-hero/girl-desktop.png" alt="Девушка">
    </picture>
    <picture>
        <source media='(min-width: 1200px)' srcset="img-hero/milk-desktop.png 1x, img-hero/milk-desktop@2x.png 2x">
        <source media='(min-width: 768px)' srcset="img-hero/milk-tab.png 1x, img-hero/milk-tab@2x.png 2x">
        <img class="milk" src="img-hero/milk-desktop.png" alt="Молоко">
    </picture>

<p class="hero__subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
</p>


<a class="hero__arrow" href="">
    <svg class="hero__arrow--arrow" height="10px" width="10px">
        <use href="img-hero/symbol-defs.svg#icon-arrow-right2"></use>
    </svg>
</a>
<ul class="data">
    <li class="data__item">
        <div class="data__wrapper">
            <p class="data__number">16</p>
            <p class="data__place">cafes</p>
        </div>
        <span class="data__circe"></span>

    </li>
    <li class="data__item">

        <div class="data__wrapper">
            <p class="data__number">23</p>
            <p class="data__place">food trucks</p>
        </div>
        <span class="data__circe"></span>

    </li>
    </ul>
<h1 class="hero__title">ice cream made with <span class="hero__title--colored">passion</span></h1>
<ul class="hero__btn-list">
    <li class="hero__btn-item">
        <a class="button--pink btn scroll-to" href="#products">Products</a>
    </li>
    <li class="hero__btn-item">
        <a class="button--white btn scroll-to" href="#about">How it’s made?</a>
    </li>
</ul>
     
     




    </ul>
 </div>

</section>

    