<header>
<div class="container">
    <a href="">
    
    </a>
<nav class="menu">
    <ul class="navigation ">
        <li class="navigation__item">
            <a class="active-navigation-link navigation-link link" href="./index.html">Home</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="#advantages">About us</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="#about">How it’s made?</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="#products">Our products</a>
        </li>
        <li class="navigation__item">
            <a class="navigation__link" href="#contacts">Contact</a>
        </li>
    </ul>
</nav>
<button type="button" class="button__menu">Buy now
    <svg height="" width="">
        <use href=""></use>
    </svg>
</button>
</div>
</header>

<section class="hero">
 <div class="conatiner">
     <h1 class="hero__title">ice cream made with passion</h1>
     <a class="button--pink" href="">Products</a>
<a class="button--white" href="">How it’s made?</a>
<p class="hero-subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
</p>
<a class="hero__arrow" href="">
<svg height="" width="">
    <use href=""></use>
</svg>
</a>
<ul class="data">
    <li class="data__item">
        <div class="data__wrapper">
            <p class="data__number">16</p>
            <p class="data__place">cafes</p>
        </div>
        <span class="data__circe"></span>

    </li>
    <li class="data__item">

        <div class="data__wrapper">
            <p class="data__number">23</p>
            <p class="data__place">food trucks</p>
        </div>
        <span class="data__circe"></span>

    </li>
 </div>

</section>