<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <form class="modal-form" action="#">
      <p class="modal-form-name">You can order your ice-cream here!!!</p>
      <label class="modal-form_label" for="name">How many kilograms do you need?</label>
      <div class="modal-form_input-wrapper">
        <input class="modal-form_input" type="number" min="1" max="100" id="name" name="name" />
      </div>
      <label class="modal-form_label" for="phone">Your phone</label>
      <div class="modal-form_phone-wrapper modal-form_input-wrapper">
        <input class="modal-form_input" type="text" id="phone" name="phone" required />
      </div>
      <label class="modal-form_label" for="post">Your address</label>
      <div class="modal-form_post-wrapper modal-form_input-wrapper">
        <input class="modal-form_input" type="text" id="post" name="post" />
      </div>
      <div class="modal-checkbox_line">
        <input class="pay-checkbox" type="checkbox" name="pay" id="pay" />
        <label class="acceptanse" for="pay">Do you want to pay?</label>
      </div>
      <button class="btn-modal" type="submit">To order</button>
    </form>
    <button type="button" data-modal-close class="close_modal-btn_button">
      <svg class="close-icon" height="14" width="14">
        <use href="sprites/modal.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
