<section class="products" id="products">
  <div class="container">
    <p class="products-text">100% natural</p>
    <h2 class="products-header">products</h2>
    <ul class="products-list">
      <li class="products-list__item products-list__item-icecream">
        <div class="ice-cream__card-wrap">
          <h3 class="products-title products-title__icecream">ice cream</h3>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. <span class="extra-text">dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="product-list__button">
            <svg class="product-list__button-svg">
              <use href="sprites/products_sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item products-list__item-icecoffee">
        <div class="icecoffee__card-wrap">
          <h3 class="products-title products-title__icecoffee">ice coffee</h3>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. <span class="extra-text">dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="product-list__button">
            <svg class="product-list__button-svg">
              <use href="sprites/products_sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-list__item products-list__item-milkshakes">
        <div class="milkshakes__card-wrap">
          <h3 class="products-title products-title__milkshakes">milkshakes</h3>
          <p class="products-list__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. <span class="extra-text">dolore magna aliqua facilisis.</span>
          </p>
          <button type="button" class="product-list__button">
            <svg class="product-list__button-svg">
              <use href="sprites/products_sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
