.btn {
  display: block;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $brand-btn-color;
  font-family: inherit;
  border: 0;
  border-radius: 22px;
  padding: 12px 37px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $light-btn-hover;
    cursor: pointer;
  }

  &-colored {
    background-color: $brand-btn-color;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $dark-btn-hover;
      cursor: pointer;
    }
  }
}
