.menu-button {
  position: absolute;
  top: 25px;
  right: 20px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  // z-index: 1002;
  background-color: transparent;
  &.is-open {
    position: fixed;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
// .menu-button .mobile__close {
//   display: none;
// }
.menu-button.is-open .mobile__close {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
}

.buttons .mobile__close {
  @media screen and(max-width: 767px) {
    display: none;
  }
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
}

.menu-button.is-open .mobile__burger {
  display: none;
}

.menu-container {
  background-color: #e17992;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  width: 250px;
  margin-left: auto;
  transform: translateY(0) translateX(50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;
  z-index: 100;
  transition: all $main-transition;
  box-shadow: -8px 0px 20px rgba(0, 0, 0, 0.25);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0) translateX(0);
  }

  @media screen and(max-width: 767px) {
    width: 100vw;
    height: 100vh;
  }
}
