.customer-reviews {
  font-family: $content-font;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(30.6 / 12);
  color: #000;

  text-align: center;
  z-index: 10;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 86px;
  }
}

.customer-img {
  margin-bottom: 30px;
}

.review-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 66px 26px 57px;
  background-color: #fafafa;
  width: 100%;
  min-height: 308px;
  margin-bottom: 52px;
  //   outline: 1px solid green;
}

.review-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  left: 60px;
  top: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(/sprites/quotes.svg);
  width: 54px;
  height: 40px;
  z-index: 1;
}

.text-wrap {
  position: absolute;
  width: 157px;
  //   height: 100%;
  z-index: 10;
  //   outline: 1px solid red;
}

.review-text {
  padding: 0 auto;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 29px,
    #e1e1e1 29px,
    #e1e1e1 30px
  );
}

.about-customer {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: calc(26.04 / 14);
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.about-customer::before {
  content: '...';
  display: flex;
  justify-content: center;

  color: #c7133e;
  letter-spacing: 0.3em;
  font-size: 2rem;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translate(-50%);
  outline: 1px solid red;
}

.pagination {
  display: flex;

  &__link {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px #212121;
    background-color: #d9d9d9;
  }

  &__link--active {
    background-image: url(/sprites/home.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    border-radius: 0;
    background-color: #fff;
  }

  &__item:not(:last-child) {
    margin-right: 18px;
  }
}
