.hero {
  background-color: $main-brand-color;
  position: relative;
}

.hero .container {
  height: 446px;
  padding-top: 137px;
  padding-bottom: 160px;
  position: relative;
  overflow: clip;

  @media screen and(min-width: 768px) {
    height: 312px;
    padding-top: 15px;
    overflow: visible;
  }
  @media screen and(min-width: 1200px) {
    height: 578px;
    padding-top: 84px;
    max-width: 1280px;
  }
}
.hero__title {
  width: 218px;
  font-family: $decorative-font;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;

  @media screen and(min-width: 768px) {
    font-size: 22px;
    width: 162px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 38px;
    width: 277px;
  }
}

.hero__title--colored {
  font-family: Titan One;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.96;
  text-transform: uppercase;
  color: $brand-btn-color;

  @media screen and(min-width: 768px) {
    font-size: 34px;
    line-height: 0.9;
  }
  @media screen and(min-width: 1200px) {
    font-size: 58px;
  }
}
.hero-subtitle {
  position: absolute;
  bottom: 59px;
  left: 154px;
  z-index: 2;
  font-size: 8px;
  line-height: 1.5;
  color: #ffffff;
  width: 114px;

  @media screen and(min-width: 1200px) {
    left: 295px;
    bottom: 102px;
    font-size: 14px;
    line-height: 1.4;
    width: 200px;
  }
}
